!!! 5

%html
  %head
    %title ByWater Solutions
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/sitestyle.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/simple-grid.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/simple-grid.css"}
    <script src="https://use.typekit.net/ykn1kle.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://use.fontawesome.com/7f1eb31462.js"></script>


  %body
  #menu
    %ul
      %li Koha Demo
      %li Contact Us
      %li Current Koha Users
  #opening.parallax.parallax-1
    .container
      #tagline
        #logo
          %img(src="http://media.bywatersolutions.com/newopac/bywaterwhite.png")
        %h1 Koha Support for Libraries</h1>
        %p <span class="subtitle">Empowering libraries to take control of their technology and drive technological innovation</span>

      .buttons
        .ghost_button
          .button-icon  <a href="#learn">Learn More</a>
        .ghost_button
          .button-icon Current Koha Users

      #opening_tiles
        .first-tile
          %h4.link <i class="fa fa-"></i> <a href="https://catalog.bywatersolutions.com/">Koha Demo</a>
          %p ByWater Solutions offers a fully functional Koha demo to anyone interested in learning more about the Koha open source ILS
        .second-tile
          %h4 <i class="fa fa-globe"></i> What We Do</h4>
          %p Empower libraries by giving them the technological flexibility and freedom they deserve through the use of open source software with comprehensive and honest support.
        .third-tile
          %h4 <i class="fa fa-globe"></i>Contact Us</h4>
          %p Feel free to contact us by calling our toll free number 1 (888) 900-8944 or chatting with us below.

  .container
    #learn
      %section.parallax.parallax-2
        .descriptive_title
          %h1.name
          %p.blue_highlight Do you believe that you should have control of the quality and functionality of your patron's online library experience?
          %p.blue_highlight Do you believe that library staff should have a say in what features will make their jobs more efficient?

          %h2.light-blue Choosing ByWater Solutions Means

        .descriptiive_entries
          %section
            .button-container
              .button_round.aqua_background
                .button-text
                  %span Freedom
              .aqua_background.square You and your library staff control the patron experience, rather than a disconnected software software vendor

          %section
            .button-container
              .button_round.blue2_background
                .button-text
                  %span Lower Costs
              .blue2_background.square Your overall automation costs will be lower and you will be empowered to take control of your technology and drive the direction of your ILS rather than act as a passenger; your technology will be aligned with your organizational goals!
          %section
            .button-container
              .button_round.blue3
                .button-text
                  %span Community
              .blue3.square By participating.square in the Koha community's forward-thinking and vibrant international member base, you can have a voice regarding what features are added to your system and when you can use them

  #features.parallax.parallax-3
    .container
      #technology
        %h1 <span class="aqua">LIBRARY TECHNOLOGY</span> <span class="white">FOCUSED ON</span> <span class="redtext">STRATEGY</span> <span class="white">AND</span> <span class="brightblue">INNOVATION</span>
        %h2.redtext Let ByWater Help You Align Your Technology to Your Strategic Goals
        .strategy
          #data
            %ul
              %li.redcircle
              %li Data Migration & Manipulation
              %li.description Skilled manipulation of library data is the key to a successful migration. Because it is the most important representation of a library's collection, we work closely with each library  to ensure there are no duplicate entries and to consistently use the highest quality records for complete accuracy, identifying and manipulating each record for the correct encoding and diacritical display. In addition, each of our new customers receives a test system during the  migration process to practice with and to be trained on.
          #support
            %ul
              %li.redcircle
              %li Expert Anytime Koha Support
              %li.description Quality of support is the most important focus of our company. Our top rated 24/7 support package is completely comprehensive and ensures the best possible Koha experience for our customers. We have the lowest customer to support personnel ratio in the business
          #training
            %ul
              %li.redcircle
              %li Comprehensive Koha Training
              %li.description Our company is dedicated to the expert training and implementation of Koha. All ByWater Solutions training sessions are led by professional MLS librarians and accomplished Koha trainers. We provide multiple formats for different learning styles including on-site, hands-on, classroom style learning, on-line presentations and demonstrations, and internally produced training manuals.
        %h2.brightblue Your Technology Should Be Innovative; ByWater Can Help
        .strategy
          #data
            %ul
              %li.bluecircle
              %li Custom Koha Installations
              %li.description To ensure the security of your data, ByWater Solutions offers a complete hosted environment on ByWater equipment placed in the virtual networking cloud. This also delivers improved performance for both your staff and your users. Other functions include the maintenance of your Linux server, the management of databases with real-time backups, and the installation of updates and upgrades to both the Linux server and your Koha ILS software. We also have options for installing Koha on local servers at your library. With the correct remote access we could completely manage the installation at your library
          #support
            %ul
              %li.bluecircle
              %li Koha Hosting Services
              %li.description ByWater Solutions performs a daily backup of all system data stored on the cloud. This information is saved both on-site. In addition daily backups, we create a mirrored image of the system data and code-base on our servers located at the ByWater main office in California (US based customers only). If you so choose, we can also set up an additional system backup onsite at your library's location and populate that daily for an additional fee.
          #training
            %ul
              %li.bluecircle
              %li Custom Koha Development
              %li.description ByWater Solutions fully embraces the ideals and practices of open source software. All custom development sponsored by our customers and completed by our company will be publicly available at all times, even while still in progress, in the ByWater Git repository. After the code has been tested and released to our customer for production use, we then publish the code to the community either in the form of a patch (for smaller code changes) or a pull request from our Git Repo.
      #testimonials
        %h1 What Our Customers Are Saying
        .quotes
          %p We've had a very positive experience from planning to roll out. Even now, we continue to benefit from great customer service, which is of great benefit to us as we do not have a systems librarian. Whatever questions we have, we are confident that the ByWater team and other members in the ByWater community can assist us getting the right information.</p> <span>Oscar Lanza-Galindo, Director, Donald D Watt Library and Information Commons of SIT Graduate InstituteBrattleboro, VT</span>
        .quotes
          %p We had been using Koha for two years when we decided to explore other options for support and hosting. Switching to ByWater allowed us to have deeper and more flexible support without having to increase our budget. ByWater has been incredibly easy to work with! Our conversion was seamless and fast, and we haven't had any offline time since we switched. The best thing about ByWater is the people. I love getting to know the team that supports our software! Everyone is friendly, down-to-earth, and responsive. We have been so happy with ByWater, and would strongly recommend them to anyone seeking support for their open-source ILS. <span>Nissa Flanagan, Systems and Technical Services Manager, Merrill Memorial Library, Yarmouth, ME</span>




<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="js/imagesloaded.js"></script>
<script src="js/skrollr.js"></script>
<script src="js/_main.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>
