---
layout: page
title: About
permalink: /about/
---

!!! 5

%html
  %head
    %title ByWater Solutions
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/sitestyle.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/simple-grid.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style/simple-grid.css"}
    <script src="https://use.typekit.net/ykn1kle.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/7f1eb31462.js"></script>





  %body
  #header
    %nav
      .logo
        %img(src="http://concrete.bywatersolutions.com/application/files/4915/0414/3282/bywaterlogo_smaller.png")
      %ul
        %li Koha Support
        %li Submit a Support Ticket (ByWater Partners)
        %li Contact Us
        %li Koha Demo

    .search
      <input class="searchTerm" placeholder="Search ByWater Support" type="text">
      <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
      </button>

  #video_header
    %h2 Koha Training Videos From ByWater Solutions
  .container
    .documentation_content
      #support_content
        %p.tagline Interested in Learning More About Koha? ByWater Solutions, as a leader in Koha development, implementation and training, has an abundance of resources on how to use and implement Koha for your library
        %p.tagline <span class="blue_highlight"> To Download the Latest Version of Koha, visit the <a href="https://koha-community.org/">Koha Community Web Site</a></span>
        #support_navs
          #koha_support_nav
            %h2 <i class="fa fa-book" aria-hidden="true"></i> Koha Resources
            %ul
              %li <a href="">Koha Manuals</a>
              %li <a href="">Koha Plugins</a>
              %li <a href="">Koha Education</a>
              %li <a href="">Koha News</a>
              %li <a href="">Koha Development Crowdfunding</a>
          #koha_education_nav
            %h2 <i class="fa fa-university" aria-hidden="true"></i> Koha Education
            %ul
              %li <a href="">Koha Testing Plan</a>
              %li <a href="">Koha Tutorial Videos</a>
              %li <a href="">Koha Training Handouts</a>
              %li <a href="">Koha Upgrade Notes</a>
              %li <a href="">Koha Tips & Tricks</a>
              %li <a href="">Learn Open Source</a>
              %li <a href="">Library Grants</a>
