---
---

/*hamburger button*/

.menu {
	transition: 0.1s transform linear;
	position: relative;
	background: 0;
	float: left;
	margin: 2rem;
	height: 2.7rem;
	width: 3.5rem;
	z-index: 1;
	outline: 0;
	padding: 0;
	border: 0;
}

.bar {
	&, &::before, &::after {
		transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
		position: absolute;
		background: #000;
		margin: auto;
		width: 100%;
		height: 0.3rem;
		content: '';
		top: 50%;
		left: 0;
	}

	& {
		margin-top: -0.2rem
	}

	&::before {
		top: -1.2rem;
	}

	&::after {
		top: 1.2rem;
	}

	&::before,
	&::after {
		transform: rotate(0deg);
	}

	.active & {
		background: 0;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&::before,
		&::after {
			top: 0;
		}

		&,
		&::before,
		&::after {
			transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
		}
	}
}

#sidemenu {
	width: 250px;
	height: 100%;
	background: #eaeaea;
	position: fixed;
	transform: translateX(-250px);
	transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);
	padding-top: 6.2rem;

	.menu-open & {
		transform: translateX(0);
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 0;

		li {
			padding: 20px 5px;
			font-size: 2rem;

			&:hover {
				background: blue;
			}
		}
	}
}


.name.visible span {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
  color: #ffffff; }

.name span {
  margin-right: 10px;
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-filter: blur(60px);
  filter: blur(60px);
  -webkit-transition: all 2.5s cubic-bezier(0.24, 0.09, 0, 1);
  transition: all 2.5s cubic-bezier(0.24, 0.09, 0, 1);
  will-change: filter;
  font-size: 44px; }

.name span:empty {
  margin-right: 20px; }

.name span:last-child {
  margin-right: 0; }

#koha_education {
  float: left;
  background-color: #33a1b3;
  padding: 20px;
  position: fixed; }
  #koha_education .active_link:before {
    display: inline-block;
    content: "\f0a9";
    font-size: 1.2em;
    margin-right: 3px;
    transition: transform .1s;
    transform-origin: 50% 50%;
    font: normal normal normal 14px/1 FontAwesome;
    color: #ffffff;
    font-size: 28px; }
  #koha_education ul {
    margin-top: 20px; }
  #koha_education li {
    margin-bottom: 20px; }
  #koha_education a {
    color: #ffffff;
    font-family: "europa", sans-serif;
    text-decoration: none; }
  #koha_education h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "europa", sans-serif;
    font-weight: 300;
    opacity: .8; }

#testimonials {
  background: linear-gradient(130deg, #07d9a3, #048fee); }
  #testimonials span {
    color: blue; }
  #testimonials .quotes {
    color: #ffffff;
    font-style: italic !important;
    padding: 20px; }
  #testimonials h1 {
    text-align: center;
    font-weight: 300 !important;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    font-family: "europa", sans-serif; }
  #testimonials p {
    font-family: "proxima-soft-condensed", sans-serif; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.documentation_content {
  background-color: #ffffff;
  padding: 20px;
  /* CHECKED SELECTORS */ }
  .documentation_content .expand-label {
    display: block;
    font-family: "europa", sans-serif;
    margin-top: 20px;
    font-size: 23px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 0 10px;
    color: #0d87c7; }
  .documentation_content .expand-label:hover {
    background: #e9e9e9; }
  .documentation_content .expand-label::before {
    display: inline-block;
    content: "\f0a9";
    font-size: 1.2em;
    margin-right: 3px;
    transition: transform .1s;
    transform-origin: 50% 50%;
    font: normal normal normal 14px/1 FontAwesome;
    color: #5ad3c8;
    font-size: 28px; }
  .documentation_content .expand-input {
    display: none; }
  .documentation_content .expand-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height .2s; }
  .documentation_content .expand-content img {
    display: inline-block;
    max-width: 100%; }
  .documentation_content .expand-input:checked + .expand-label::before {
    transform: rotate(45deg);
    transition: transform .1s; }
  .documentation_content .expand-input:checked ~ .expand-content {
    max-height: 1000px; }
  .documentation_content .ghost_button_small {
    background-color: #F3342F !important;
    position: relative;
    height: 50px;
    width: 30%;
    background-image: none;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
    transition: all ease-out .5s;
    text-align: center;
    opacity: .8;
    padding: 10px;
    margin-right: 20px; }
  .documentation_content p {
    font-family: "proxima-soft-condensed", sans-serif;
    color: #666; }
  .documentation_content h1 {
    font-family: "europa", sans-serif;
    margin-top: 20px; }
  .documentation_content ol {
    margin-top: 20px; }
    .documentation_content ol li:before {
      content: counter(step-counter);
      border-radius: 50%;
      left: -20px;
      position: absolute;
      float: left;
      top: 0;
      font-size: 13px;
      height: 27px;
      width: 27px;
      padding: 3px;
      text-align: center;
      font-weight: 400;
      color: #fff; }
    .documentation_content ol li {
      font-family: "proxima-soft-condensed", sans-serif;
      line-height: 2.5;
      margin-bottom: 20px; }
      .documentation_content ol li .number {
        background-color: #0d87c7;
        color: #ffffff;
        padding: 10px; }

#videos h2 {
  font-family: "europa", sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 28px; }

#circulation ul {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  background: rgba(247, 247, 247, 0.95); }

.gray {
  color: #575053 !important; }

#circluation {
  padding: 20px;
  background: rgba(247, 247, 247, 0.95); }
  #circluation ul {
    display: flex;
    margin-top: 55px;
    justify-content: center; }

#support_navs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }

#koha_support_nav h2 {
  background-color: #ececec !important;
  padding: 10px;
  color: #081b4b;
  font-size: 20px;
  font-family: "europa",sans-serif;
  font-weight: 500; }
#koha_support_nav ul {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  background-color: #ECECEC !important;
  padding: 17px;
  min-width: 300px; }
#koha_support_nav li {
  margin-bottom: 20px; }
#koha_support_nav a {
  color: #0d87c7;
  text-decoration: none;
  font-family: "europa", sans-serif;
  font-weight: 200;
  font-size: 18px; }

#koha_education_nav h2 {
  background-color: #ececec !important;
  padding: 10px;
  color: #081b4b;
  font-size: 20px;
  font-family: "europa",sans-serif;
  font-weight: 500; }
#koha_education_nav ul {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  background-color: #ECECEC !important;
  padding: 17px;
  min-width: 300px; }
#koha_education_nav li {
  margin-bottom: 20px; }
#koha_education_nav a {
  color: #0d87c7;
  text-decoration: none;
  font-family: "europa", sans-serif;
  font-weight: 200;
  font-size: 18px; }

.blue_highlight {
  font-family: "europa",sans-serif;
  color: #87b5e4; }

.tagline {
  font-weight: bold; }

#support_content {
  background-color: #ffffff;
  height: 100%; }
  #support_content a {
    color: #0d87c7;
    text-decoration: none; }
  #support_content .blue_highlight {
    font-family: "europa",sans-serif;
    color: #87b5e4; }
  #support_content .tagline {
    font-weight: bold; }

#videos {
  background-color: #ffffff;
  margin-top: 30px;
  height: 100%; }
  #videos #circluation {
    padding: 20px; }
    #videos #circluation ul {
      display: flex;
      margin-top: 55px;
      justify-content: center; }
  #videos li {
    width: 100px;
    height: 150px;
    transition: transform 0.2s; }
    #videos li:nth-child(1) {
      background: #f05640; }
    #videos li:nth-child(2) {
      background: #e04938; }
    #videos li:nth-child(3) {
      background: #d13c31; }
    #videos li:nth-child(4) {
      background: #c12f29; }
    #videos li:nth-child(5) {
      background: firebrick; }
  #videos ul:hover li {
    transform: translateX(-25%); }
  #videos ul:hover li:hover {
    transform: scale(1.5);
    transition-duration: 0.18182s; }
  #videos ul:hover li:hover ~ li {
    transform: translateX(25%); }
  #videos h2 {
    font-family: "europa", sans-serif;
    color: #f3342f;
    text-align: center;
    margin-top: 20px;
    padding: 20px; }

.img-hide-scroll {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 20px;
  width: 69%;
  height: 100%;
  overflow: hidden; }

#featured_video {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between; }
  #featured_video .video_card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 20px; }
  #featured_video .feature_description {
    background-color: #33a1b3;
    padding: 20px; }
    #featured_video .feature_description p {
      font-family: "europa", sans-serif;
      color: #ffffff;
      margin-top: 20px;
      margin-bottom: 20px; }
    #featured_video .feature_description h3 {
      font-family: "europa", sans-serif;
      color: #ffffff;
      margin-top: 10px; }
  #featured_video .bg-container {
    overflow: hidden;
    position: relative; }
    #featured_video .bg-container img {
      will-change: transform;
      height: 100%;
      -webkit-overflow-scrolling: none;
      width: 21%; }

#video_header {
  background-color: #12243c;
  padding: 10px; }
  #video_header h2 {
    color: #46a4bf;
    text-align: center;
    font-size: 23px;
    margin: 0px;
    text-transform: uppercase;
    font-family: "europa",sans-serif; }

#header_two {
  background-image: url(../img/hccc.png);
  height: 235px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  #header_two .logo img {
    width: 63%;
    padding: 10px; }
  #header_two nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; }
    #header_two nav ul {
      display: flex;
      justify-content: space-between;
      margin-right: 40px; }
      #header_two nav ul li {
        font-family: "europa",sans-serif;
        color: #081b4b;
        font-size: 16px;
        margin-left: 40px;
        padding: 20px;
        font-weight: bold; }
  #header_two .search {
    width: 480px;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 0px;
    margin-top: 75px; }
    #header_two .search .searchTerm {
      float: left;
      width: 100%;
      border: 3px solid #00b4cc;
      padding: 6px;
      border-radius: 5px;
      outline: none;
      color: #9DBFAF;
      font-size: 20px; }
    #header_two .search .searchButton {
      position: absolute;
      right: -85px;
      width: 63px;
      height: 42px;
      border: 1px solid #00b4cc;
      background: #00B4CC;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px; }
    #header_two .search .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  #header_two .logo {
    margin-left: 40px; }

#header {
  background-image: url(http://concrete.bywatersolutions.com/application/files/1115/0421/0479/FIT.png);
  height: 235px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  #header .logo img {
    width: 63%;
    padding: 10px; }
  #header nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; }
    #header nav ul {
      display: flex;
      justify-content: space-between;
      margin-right: 40px; }
      #header nav ul li {
        font-family: "europa",sans-serif;
        color: #081b4b;
        font-size: 18px;
        margin-left: 40px;
        padding: 20px;
        font-weight: 400; }
  #header .search {
    width: 480px;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 0px;
    margin-top: 75px; }
    #header .search .searchTerm {
      float: left;
      width: 100%;
      border: 3px solid #00b4cc;
      padding: 6px;
      border-radius: 5px;
      outline: none;
      color: #9DBFAF;
      font-size: 20px; }
    #header .search .searchButton {
      position: absolute;
      right: -85px;
      width: 63px;
      height: 42px;
      border: 1px solid #00b4cc;
      background: #00B4CC;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px; }
    #header .search .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  #header .logo {
    margin-left: 40px; }

#menu {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #87b5e4;
  color: #FFFFFF;
  z-index: 9999;
  display: none;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
  opacity: .8; }
  #menu ul {
    padding: 30px;
    display: flex;
    justify-content: space-between; }
    #menu ul li {
      color: #1c187e;
      font-family: "proxima-soft-condensed", sans-serif;
      font-size: 18px; }

.parallax {
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover; }

.redcircle {
  background-color: #ad294a;
  border-radius: 50%;
  height: 20px;
  width: 20px; }

.bluecircle {
  background-color: #01dcdc;
  border-radius: 50%;
  height: 20px;
  width: 20px; }

.brightblue {
  color: #01dcdc; }

.brightblue_background {
  background-color: #01dcdc; }

.square {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  height: 161px; }

.blue2 {
  color: #33a1b3; }

.blue2_background {
  background-color: #33a1b3; }

.blue3 {
  background-color: #37b0ad; }

.light-blue {
  color: #0d87c7; }

.aqua_background {
  background-color: #5ad3c8; }

.aqua {
  color: #5ad3c8; }

.white {
  color: #ffffff; }

.redtext {
  color: #ad294a; }

.blue2_background {
  background-color: #33a1b3; }

body {
  background-color: #111d39; }

#opening {
  background: linear-gradient(rgba(240, 250, 253, 0.7), rgba(25, 37, 64, 0.8), rgba(25, 37, 64, 0.8)), url(http://media.bywatersolutions.com/newsite/background.png);
  background-position: center !important;
  height: 889px;
  background-repeat: no-repeat;
  background-size: cover; }
  #opening #logo {
    margin: 0 auto;
    width: 241px; }
  #opening #tagline {
    margin-top: 15%;
    width: 677px;
    margin: 0 auto;
    transform: translateY(60%); }
    #opening #tagline h1, #opening #tagline .descriptive_tile h1 {
      font-family: "europa", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      margin-top: 26px; }
    #opening #tagline p {
      font-family: "proxima-soft-condensed", sans-serif;
      color: #ffffff;
      font-size: 24px;
      text-align: center; }
    #opening #tagline .subtitle {
      color: #87b5e4; }
  #opening .buttons {
    display: flex;
    justify-content: space-between;
    transform: translateY(300%); }
    #opening .buttons .ghost_button_outline {
      -webkit-transition: 0.3s background, 0.3s color;
      -moz-transition: 0.3s background, 0.3s color;
      transition: 0.3s background, 0.3s color;
      border: 2px solid #87b5e4;
      color: #fff;
      padding: .5rem 3rem;
      border-radius: 3px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 200;
      vertical-align: middle;
      opacity: .8; }
    #opening .buttons .ghost_button {
      background-color: #F3342F;
      position: relative;
      background-image: none;
      border: none;
      outline: none;
      color: #ffffff;
      font-size: 20px;
      letter-spacing: 1px;
      cursor: pointer;
      border-radius: 30px;
      transition: all ease-out .5s;
      text-align: center;
      opacity: .8;
      padding: 27px;
      -webkit-transition: background-color 2s;
      transition: background-color 2s;
      -moz-animation: button-highlight 15s infinite;
      /* Firefox */
      -webkit-animation: button-highlight 15s infinite;
      /* Safari and Chrome */ }
      #opening .buttons .ghost_button a {
        color: #ffffff;
        text-decoration: none; }
    #opening .buttons .ghost_button:hover {
      background-color: #A61410 !important; }
    #opening .buttons .ghost_button .button-icon {
      margin-right: .55rem;
      font-size: 16px;
      color: #ffffff;
      opacity: .8;
      font-family: "europa", sans-serif;
      text-transform: uppercase; }
  #opening #opening_tiles {
    transform: translateY(117%);
    display: flex;
    justify-content: space-between;
    font-family: "proxima-soft-condensed", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #5A5F64; }
    #opening #opening_tiles .link a {
      padding: 10px; }
    #opening #opening_tiles h4 {
      color: #1C187E;
      text-transform: uppercase; }
      #opening #opening_tiles h4 a {
        color: #1C187E;
        text-decoration: none;
        border: 2px solid #1C187E; }
    #opening #opening_tiles p {
      margin-top: 12px;
      color: #5A5F64; }
    #opening #opening_tiles .first-tile {
      background-color: #87b5e4;
      padding: 20px; }
    #opening #opening_tiles .second-tile {
      background-color: #bbd5e4;
      padding: 20px; }
    #opening #opening_tiles .third-tile {
      background-color: #CFDCE8;
      padding: 20px; }

.descriptive_title h1 {
  font-family: "europa", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding: 50px;
  margin-top: 100px; }
.descriptive_title .blue_highlight {
  font-family: "europa",sans-serif;
  color: #87b5e4;
  font-size: 24px;
  margin-bottom: 80px; }
.descriptive_title h2 {
  font-family: "proxima-soft-condensed", sans-serif;
  text-align: center;
  opacity: .8; }

.descriptiive_entries {
  display: flex; }

.button-container {
  position: relative;
  margin: 0 auto;
  width: 333px;
  margin-top: 40px; }
  .button-container .button_round {
    height: 300px;
    border-radius: 50%;
    width: 300px; }
  .button-container .button-text {
    position: absolute;
    top: 29%;
    left: 43%;
    transform: translate(-45%, -55%);
    font-size: 33px;
    font-family: "Open Sans",sans-serif; }
    .button-container .button-text span {
      color: #ffffff; }

#features {
  background-image: url("http://concrete.bywatersolutions.com/application/files/1915/0397/4497/backgroundcircles.png");
  font-family: "europa", sans-serif; }
  #features #technology {
    margin-top: 60px; }
    #features #technology h1 {
      color: #ffffff;
      font-family: "europa", sans-serif;
      font-weight: bold;
      margin-bottom: 40px; }
    #features #technology h2 {
      font-weight: bold; }

.strategy, .innovation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 40px; }

.strategy ul {
  width: 244px; }
  .strategy ul li {
    font-family: "europa",sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-size: 22px; }
  .strategy ul .description {
    opacity: .7;
    font-family: "proxima-soft-condensed", sans-serif; }

/* Slide 1 */
#slide-1 .bcg {
  background-image: url("../img/bcg_slide-1.jpg"); }

#slide-1 .hsContent {
  bottom: 200px;
  top: auto; }

/* Slide 2 */
#slide-2 .bcg {
  background-image: url("../img/bcg_slide-2.jpg"); }

#slide-2 .hsContent {
  margin-left: -450px;
  bottom: 200px;
  top: auto; }

/* Slide 3 */
#slide-3 .bcg {
  background-image: url("../img/bcg_slide-3.jpg"); }

#slide-3 .hsContent {
  margin-left: -239px; }

#slide-3 h2 {
  color: #f2ead6;
  background-color: rgba(0, 0, 0, 0.6); }

/* Slide 4 */
#slide-4 .bcg {
  background-image: url("../img/bcg_slide-4.jpg"); }

#slide-4 .hsContent {
  margin-left: -450px; }

#slide-4 h2 {
  background: none;
  padding-left: 0;
  padding-right: 0; }

@-moz-keyframes button-highlight  /* Firefox */ {
  0% {
    background-color: #F3342F; }
  50% {
    background-color: #A61410; }
  100% {
    background-color: #FF4F4B; } }
@-webkit-keyframes button-highlight /* Safari and Chrome */ {
  0% {
    background-color: #F3342F; }
  50% {
    background-color: #A61410; }
  100% {
    background-color: #FF4F4B; } }

/*# sourceMappingURL=sitestyle.css.map */
