

<!--div class="home">

  <h1 class="page-heading">Recent Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>-->
<!DOCTYPE html>
<html>
<head>
<title>ByWater Solutions</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sitestyle.css">
<script src="https://use.typekit.net/sco1mxn.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>


<link href='{{ site.baseurl }}/assets/css/reset.css' rel='stylesheet' type='text/css'>

<link href='{{ site.baseurl }}/assets/css/simple-grid.css' rel='stylesheet' type='text/css'>

<script src="https://use.typekit.net/ykn1kle.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="https://use.fontawesome.com/7f1eb31462.js"></script>
</head>
<section class="hamburger">

<button class="js-menu menu" type="button">
	<span class="bar"></span>




</button>

<section id="contact_info">
<span><a href="http://ticket.bywatersolutions.com/">Submit a Ticket (Current Customers)</a></span>

<span>Contact Us @ <span>1 (888) 900-8944</span></span>

<span><a href="mailto:info@bywatersolutions.com">info@bywatersolutions.com"</a></span>

</section>

</section>

<nav id="sidemenu">
	<ul>
		<li>Koha Demo</li>
		<li>About ByWater Solutions</li>
		<li>Koha Support</li>
		<li>Koha Education</li>
	</ul>
</nav>

<div id='menu'>
<ul>
	<li>Koha Demo</li>
	<li>About ByWater Solutions</li>
	<li>Koha Support</li>
	<li>Koha Education</li>
	<li>Submit a Ticket</li>
	<li>Contact Us</li>
</ul>
</div>
<div class='parallax parallax-1' id='opening'>
<div class='container'>
<div id='tagline'>
<!--<div id='logo'>
<img src='http://media.bywatersolutions.com/newopac/bywaterwhite.png'>
</div>-->

<img src='{{ site.baseurl }}/img/ByWater-Solutions-logo-No-White.png'>
<h1><img src='{{ site.baseurl }}/img/kohalogo.png'> Support for Libraries</h1></h1>
</div>
<div class='buttons'>
<!--<div class='ghost_button'>
<div class='button-icon'><a href="#learn">Learn More</a></div>
</div>
<div class='ghost_button'>
<div class='button-icon'><a href="{{ site.baseurl }}/about/">Current Koha Users</a></div>
</div>-->
</div>
<!--<div id='opening_tiles'>
<div class='first-tile'>
<h4 class='link'><i class="fa fa-"></i> <a href="https://catalog.bywatersolutions.com/">Koha Demo</a></h4>
<p>ByWater Solutions offers a fully functional Koha demo to anyone interested in learning more about the Koha open source ILS</p>
</div>
<div class='second-tile'>
<h4><i class="fa fa-book" aria-hidden="true"></i> What We Do</h4></h4>
<p>Empower libraries by giving them the technological flexibility and freedom they deserve through the use of open source software with comprehensive and honest support.</p>
</div>
<div class='third-tile'>
<h4><i class="fa fa-connectdevelop" aria-hidden="true"></i> Contact Us</h4></h4>
<p>Feel free to contact us by calling our toll free number 1 (888) 900-8944 or chatting with us below.</p>
</div>

</div>-->
<div class='buttons'>
<div class='ghost_button'>
<div class='button-icon'><a href="#learn">Learn More</a>
<a href="#learn"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>

</div>


</div>

</div>

</div>
</div>
<div class='container'>
<div id='learn'>
<section class='parallax parallax-2'>
<div class='descriptive_title'>
<h1 class='name'>Koha Support for Libraries</h1>
<p class='blue_highlight'>Do you believe that you should have control of the quality and functionality of your patron's online library experience?</p>
<p class='blue_highlight'>Do you believe that library staff should have a say in what features will make their jobs more efficient?</p>
<h2 class='light-blue'>Choosing ByWater Solutions Means</h2>
</div>
<div class='descriptiive_entries'>
<section>
<div class='button-container animate-content'>
<div class='button_round aqua_background'>
<div class='button-text'>
<span id="freedom_button">Freedom</span>
</div>
</div>
<div id="freedom" class='aqua_background square animate-content'><span>You and your library staff control the patron experience, rather than a disconnected software software vendor</span></div>
</div>
</section>
<section>
<div class='button-container animate-content'>
<div class='button_round blue2_background'>
<div class='button-text'>
<span id="costs_button">Lower Costs</span>
</div>
</div>
<div id="cost" class='blue2_background square'><span>Your overall automation costs will be lower and you will be empowered to take control of your technology and drive the direction of your ILS.</span></div>
</div>
</section>
<section>
<div class='button-container animate-content'>
<div class='button_round blue3'>
<div class='button-text'>
<span id="community_button">Community</span>
</div>
</div>
<div id="community" class='blue3 square'><span>By participating in the Koha community you can have a voice regarding what features are added to your system and when you can use them</span></div>
</div>
</section>
</div>
</section>
</div>
</div>
<div class='parallax parallax-3' id="bywater_team">
	<div class='container'>
<section id="team">


<section>

<h2>A PERSONALIZED SUPPORT EXPERIENCE</h2>

<h1>Your success
defines our
success</h1>

</section>

<section>
<p><span>ByWater Solutions</span> is made up of a diverse group of <span>librarians</span>, <span>book lovers</span>, <span>technology and data geeks</span>, <span>photographers</span>, <span>Tolkien fans</span>, <span>space nerds</span>, <span>genealogists</span>, <span>knitters</span>, <span>composters</span>, <span>animal lovers (furry or hairless)</span> and most importantly, <span class="blue">open source fanatics</span>.</p>

<p>Our carefully selected team of Koha experts is available 24/7 for personalized, responsive, and honest support.</p>

</section>

</section>


<section id="staff_photo">

</section>


</div>

</div>
<div class='parallax parallax-4' id='features'>
<div class='container'>
<div id='technology'>
<h1><span class="aqua">LIBRARY TECHNOLOGY</span> <span class="white">FOCUSED ON</span> <span class="redtext">STRATEGY</span> <span class="white">AND</span> <span class="brightblue">INNOVATION</span></h1>
<h2 class='redtext'>Let ByWater Help You Align Your Technology to Your Strategic Goals</h2>
<div class='strategy'>
<div id='data'>
<ul>
<li class='redcircle'></li>
<li>Data Migration & Manipulation</li>
<li class='description'>Skilled manipulation of library data.</li>
</ul>
</div>
<div id='support'>
<ul>
<li class='redcircle'></li>
<li>Expert Anytime Koha Support</li>
<li class='description'>Our top rated 24/7 support package is completely comprehensive and ensures the best possible Koha experience.</li>
</ul>
</div>
<div id='training'>
<ul>
<li class='redcircle'></li>
<li>Comprehensive Koha Training</li>
<li class='description'>Our company is dedicated to the expert training and implementation of Koha.</li>
</ul>
</div>
</div>
<h2 class='brightblue'>Your Technology Should Be Innovative; ByWater Can Help</h2>
<div class='strategy'>
<div id='data'>
<ul>
<li class='bluecircle'></li>
<li>Custom Koha Installations</li>
<li class='description'>To ensure the security of your data and excellent performance, ByWater Solutions offers a complete hosted environment.</li>
</ul>
</div>
<div id='support'>
<ul>
<li class='bluecircle'></li>
<li>Koha Hosting Services</li>
<li class='description'>ByWater Solutions performs a daily backup of all system data stored on the cloud. </li>
</ul>
</div>
<div id='training'>
<ul>
<li class='bluecircle'></li>
<li>Custom Koha Development</li>
<li class='description'>ByWater Solutions fully embraces the ideals and practices of open source software.</li>
</ul>
</div>
</div>
</div>
</div>
<div class='parallax parallax-5'>

<div id='customers'>
<div class='container'>
<section class="customer_content">
<h1>ByWater Solutions has a proven track record in first rate implementation processes with library systems of all sizes.</h1>

<h2>ByWater Solutions currently supports over 1000 individual library sites.  Our customers range from small special collections to large multi-type consortia ranging from 7 to 75 member groups, such as the Massachusetts Library System and the first public library to adopt Koha in the United States, The Athens County Libraries.</h2>

<h1>With ByWater Solutions, you have a partner committed to your success!</h1>
</section>
</div>
</div>
</div>

<div class='parallax parallax-6'>
<div id='testimonials'>
	<div class='container fade-content'>
<h1>What Our Customers Are Saying</h1>
<div class='quotes card'>
<p>We've had a very positive experience from planning to roll out. Even now, we continue to benefit from great customer service, which is of great benefit to us as we do not have a systems librarian. Whatever questions we have, we are confident that the ByWater team and other members in the ByWater community can assist us getting the right information.</p> <span>Oscar Lanza-Galindo, Director, Donald D Watt Library and Information Commons of SIT Graduate InstituteBrattleboro, VT</span></p>
</div>
<div class='quotes card'>
<p>We had been using Koha for two years when we decided to explore other options for support and hosting. Switching to ByWater allowed us to have deeper and more flexible support without having to increase our budget. ByWater has been incredibly easy to work with! Our conversion was seamless and fast, and we haven't had any offline time since we switched. The best thing about ByWater is the people. I love getting to know the team that supports our software! Everyone is friendly, down-to-earth, and responsive. We have been so happy with ByWater, and would strongly recommend them to anyone seeking support for their open-source ILS. <span>Nissa Flanagan, Systems and Technical Services Manager, Merrill Memorial Library, Yarmouth, ME</span></p>
</div>
<div class='quotes card'>
<p>Moving from a proprietary database to a fully functioning, open source ILS has brought the Sasaki Library into the 21st century. The ability to customize Koha to the unique needs of our small corporate library and archives has brought ease of access and use to a new level. ByWater Solutions was instrumental in facilitating this transition: handling the migration of our data, providing excellent training on the Koha software, and answering the million question I had about system setup and use. I really could not have done it with them! I couldn’t be happier with the level of service ByWater provides, the functionality of Koha, or the user experience of this ILS. <span>Deirdre Doran Sasaki Associates Boston, MA</span></p>
</div>
</div>
</div>
</div>


</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/imagesloaded.js"></script>
<script src="{{ site.baseurl }}/assets/js/skrollr.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>
